<%- include("./parts/header") %>

    <body>
        <div class="ustawienia-screen">

        </div>
        <div class="ustawienia-container" data-aos="fade-in" data-aos-duration="1000">
            <div class="logo-techaway">
                <div class="logo-left">
                    <img src="/images/strona/logo2.png" alt="" class="logo-left-fajne">
                </div>
            </div>
            <% if (!zmiana) { %>
                <div class="edytowanie-informacji-konta-container">
                    <div class="div">
                        <%- informacje %>
                        <a href="/ustawienia?opcja=wyloguj"><button class="guzik wyloguj">Wyloguj</button></a><a href="/ustawienia?opcja=usun"><button class="guzik usun">Usuń konto</button></a>
                    </div>
                </div>
            <% } %>
            <% if (zmiana == 1) { %>
                <div class="formularz-zmiana-wartosci">
                    <div class="background-tego-forma">
                        <form action="/ustawienia?change=imie" method="post" class="formularzowskifortmularz">
                            <%- message  %>
                            <p><span>Podaj nowe imię:<!--Zmiana za pomocą js jakie dane mają być wprowadzone--> </span></p>
                            <input type="text" name="imie" class="formularz-wartosci">
                            <p>
                                <button type="submit" class="guziok zastosuj">Zastosuj</button>
                                <button type="reset" onclick="history.back()" class="guziok anuluj">Anuluj</button>
                            </p>    
    
                        </form>
                    </div>
                </div>
            <% } %>
            <% if (zmiana == 2) { %>
                <div class="formularz-zmiana-wartosci">
                    <div class="background-tego-forma">
                        <form action="/ustawienia?change=nazwisko" method="post" class="formularzowskifortmularz">
                            <%- message  %>
                            <p><span>Podaj nowe nazwisko:<!--Zmiana za pomocą js jakie dane mają być wprowadzone--> </span></p>
                            <input type="text" name="nazwisko" class="formularz-wartosci">
                            <p>
                                <button type="submit" class="guziok zastosuj">Zastosuj</button>
                                <button type="reset" onclick="history.back()" class="guziok anuluj">Anuluj</button>
                            </p>
                        </form>
                    </div>
                </div>
            <% } %>
            <% if (zmiana == 3) { %>
                <div class="formularz-zmiana-wartosci">
                    <div class="background-tego-forma">
                        <form method="post" class="formularzowskifortmularz">                            
                            <%- message  %>
                            <p><span>Podaj nowe mail:<!--Zmiana za pomocą js jakie dane mają być wprowadzone--> </span></p>
                            <input type="text" name="mail" class="formularz-wartosci">
                            <p>
                                <button type="submit" class="guziok zastosuj">Zastosuj</button>
                                <button type="reset" onclick="history.back()" class="guziok anuluj">Anuluj</button>
                            </p>
    
                        </form>
                    </div>
                </div>
            <% } %>
            <% if (zmiana == 4) { %>
                <div class="formularz-zmiana-wartosci">
                    <div class="background-tego-forma">
                        <form method="post" class="formularzowskifortmularz">
                            <%- message  %>
                            <p><span>Podaj stare hasło:<!--Zmiana za pomocą js jakie dane mają być wprowadzone--> </span></p>
                            <input type="password" name="stare" class="formularz-wartosci">
                            <p><span>Podaj nowe hasło:<!--Zmiana za pomocą js jakie dane mają być wprowadzone--> </span></p>
                            <input type="password" name="nowe" class="formularz-wartosci">
                            <p><p>Podaj ponownie hasło: <!--Pojawia się przy haśle--> </p></p>
                            <input type="passowrd" name="potwierdz" class="formularz-wartosci">
                            <p>
                                <button type="submit" class="guziok zastosuj">Zastosuj</button>
                                <button type="reset" onclick="history.back()" class="guziok anuluj">Anuluj</button>
                            </p>
        
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>

    </html>