<div class="oferta">
    <div class="image-container">
        <img src="<%- produkt[i].ikona%>" alt="" class="obrazek-ofert">
    </div>
    <div class="szybki-opis">
        <span>Produkt: <%- produkt[i].nazwa %></span><br>
        <span>Cena: <%- produkt[i].cena %></span>
    </div>
    <a href="/skl/<%- informacje.nazwa %>/koszyk?produkt=<%- produkt[i].id %>&nazwa=<%- produkt[i].nazwa%>&cena=<%- produkt[i].cena%>">
        <div class="przejdz-oferta-button">
            <div class="guzior-na-miare-oferty guzior123"> <i class="fa-solid fa-cart-plus"></i></div>
        </div>
    </a>

</div>